<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sea Hotel</title>
</head>
<body>
      <h5 class="w3-center">AWARDS</h3>
          <div>
              <div style="margin-top:50px; padding-left: 27.5%;" class="row" class="w3-center" class="thumbnails">
                  <div class="corr">
                      <img src="{% static 'software images/fifth statement/a1.png'%}" style="max-width:200px;"
                          style="max-height: 200px;" class="column">
                  </div>
                  <div class="corr">
                      <img src="{% static 'software images/fifth statement/a2.jpg'%}" style="max-width:200px"
                          style="max-height: 200px;" class="column">
                  </div>
                  <div class="corr">
                      <img src="{% static 'software images/fifth statement/a3.jpg'%}" style="max-width:200px;"
                          style="max-height:200px;" class="column">
                  </div>
              </div>
          </div>
</body>
</html>